{% extends "./src/html/layouts/layout.html" %} {% block content %}
<section
  class="h-full relative before:content-[''] before:fixed before:-top-[135px] md:before:-top-[266px] before:-left-[66px] md:before:-left-[248px] before:w-[260px] md:before:w-[690px] before:rounded-full before:h-[260px] md:before:h-[690px] before:bg-[#03E4E1] before:z-[-1] before:blur-[115px] before:opacity-20 after:content-[''] after:fixed after:-bottom-[44px] md:after:-bottom-[63px] after:-right-[80px] md:after:-right-[364px] after:w-[260px] md:after:w-[690px] after:rounded-full after:h-[260px] md:after:h-[690px] after:bg-[#03E4E1] after:z-[-1] after:blur-[115px] after:opacity-20"
>
  <div class="container h-full">
    <div class="h-full flex items-center justify-center">
      <header class="flex flex-col items-center justify-center text-center">
        <h1
          class="text-[36px] leading-[41px] md:text-[240px] md:leading-[274px] font-magistralc font-bold text-[#03E4E1]"
        >
          500
        </h1>
        <p
          class="text-[14px] max-w-[328px] md:max-w-[1166px] leading-[15px] md:text-[36px] md:leading-[39px] font-normal"
        >
          Что-то пошло не так. Мы уже работаем над решением проблемы. Попробуйте
          обновить страницу или зайдите позже.
        </p>
      </header>
    </div>
  </div>
</section>
{% endblock %}
