{% extends "./src/html/layouts/layout.html" %} {% block content %}
<section>
  <div class="container">
    <div class="pt-[48px]">
      <header>
        <h1
          class="text-[16px] md:text-[36px] uppercase leading-[18px] md:leading-[51px] font-black"
        >
          Программы
        </h1>
        <p
          class="mt-[16px] text-[12px] leading-[14px] md:text-[24px] md:leading-[26px] md:mt-[16px]"
        >
          Раздел с программами компаний, условиями поиска уязвимостей и
          наградами.
        </p>
        <div
          class="grid mt-[16px] md:mt-[36px] gap-[12px] md:grid-cols-2 lg:grid-cols-3 md:gap-[24px]"
        >
          <article
            class="p-[24px] flex flex-col md:rounded-[16px] rounded-[8px] shadow-[0px_-1px_13.7px_0px_rgba(3,228,225,0.25)] md:shadow-[0px_4px_13.7px_0px_rgba(3,228,225,0.25)] transition-colors ease-in-out duration-300 [@media(hover:hover)]:hover:bg-[#03E4E1]/25 active:bg-[#03E4E1]/25"
          >
            <h2
              class="font-bold text-[14px] leading-[16px] md:text-[24px] md:leading-[26px] uppercase text-[#03E4E1]"
            >
              Qazcloud
            </h2>
            <ul
              class="mt-[24px] md:mt-[36px] flex items-center gap-[12px] flex-wrap md:gap-x-[24px] text-[10px] leading-[12px] md:text-[18px] md:leading-[20px]"
            >
              <li class="flex items-center gap-[4px]">
                <img
                  class="w-[14px] md:w-[20px] h-auto"
                  src="/money.svg"
                  width="20"
                  height="20"
                  alt="clock"
                />
                <span>150 000 ₸</span>
              </li>
              <li class="flex items-center gap-[4px]">
                <img
                  class="w-[14px] md:w-[20px] h-auto"
                  src="/doc-success.svg"
                  width="20"
                  height="20"
                  alt="clock"
                />
                <span>25 отчетов</span>
              </li>
              <li class="flex items-center gap-[4px]">
                <img
                  class="w-[14px] md:w-[20px] h-auto"
                  src="/clock.svg"
                  width="20"
                  height="20"
                  alt="clock"
                />
                <span>6 дней</span>
              </li>
            </ul>
            <a
              class="inline-block mt-[12px] text-[12px] leading-[14px] md:text-[18px] md:leading-[20px] text-center w-full bg-[#03E4E1]/25 text-[#03E4E1] p-[8px] rounded-[4px] md:rounded-[8px] md:mt-[36px]"
              href="/program"
              >Подробнее</a
            >
          </article>
          <article
            class="p-[24px] flex flex-col md:rounded-[16px] rounded-[8px] shadow-[0px_-1px_13.7px_0px_rgba(3,228,225,0.25)] md:shadow-[0px_4px_13.7px_0px_rgba(3,228,225,0.25)] transition-colors ease-in-out duration-300 [@media(hover:hover)]:hover:bg-[#03E4E1]/25 active:bg-[#03E4E1]/25"
          >
            <h2
              class="font-bold text-[14px] leading-[16px] md:text-[24px] md:leading-[26px] uppercase text-[#03E4E1]"
            >
              Qazcloud
            </h2>
            <ul
              class="mt-[24px] md:mt-[36px] flex items-center gap-[12px] flex-wrap md:gap-x-[24px] text-[10px] leading-[12px] md:text-[18px] md:leading-[20px]"
            >
              <li class="flex items-center gap-[4px]">
                <img
                  class="w-[14px] md:w-[20px] h-auto"
                  src="/money.svg"
                  width="20"
                  height="20"
                  alt="clock"
                />
                <span>150 000 ₸</span>
              </li>
              <li class="flex items-center gap-[4px]">
                <img
                  class="w-[14px] md:w-[20px] h-auto"
                  src="/doc-success.svg"
                  width="20"
                  height="20"
                  alt="clock"
                />
                <span>25 отчетов</span>
              </li>
              <li class="flex items-center gap-[4px]">
                <img
                  class="w-[14px] md:w-[20px] h-auto"
                  src="/clock.svg"
                  width="20"
                  height="20"
                  alt="clock"
                />
                <span>6 дней</span>
              </li>
            </ul>
            <a
              class="inline-block mt-[12px] text-[12px] leading-[14px] md:text-[18px] md:leading-[20px] text-center w-full bg-[#03E4E1]/25 text-[#03E4E1] p-[8px] rounded-[4px] md:rounded-[8px] md:mt-[36px]"
              href="/program"
              >Подробнее</a
            >
          </article>
          <article
            class="p-[24px] flex flex-col md:rounded-[16px] rounded-[8px] shadow-[0px_-1px_13.7px_0px_rgba(3,228,225,0.25)] md:shadow-[0px_4px_13.7px_0px_rgba(3,228,225,0.25)] transition-colors ease-in-out duration-300 [@media(hover:hover)]:hover:bg-[#03E4E1]/25 active:bg-[#03E4E1]/25"
          >
            <h2
              class="font-bold text-[14px] leading-[16px] md:text-[24px] md:leading-[26px] uppercase text-[#03E4E1]"
            >
              Qazcloud
            </h2>
            <ul
              class="mt-[24px] md:mt-[36px] flex items-center gap-[12px] flex-wrap md:gap-x-[24px] text-[10px] leading-[12px] md:text-[18px] md:leading-[20px]"
            >
              <li class="flex items-center gap-[4px]">
                <img
                  class="w-[14px] md:w-[20px] h-auto"
                  src="/money.svg"
                  width="20"
                  height="20"
                  alt="clock"
                />
                <span>150 000 ₸</span>
              </li>
              <li class="flex items-center gap-[4px]">
                <img
                  class="w-[14px] md:w-[20px] h-auto"
                  src="/doc-success.svg"
                  width="20"
                  height="20"
                  alt="clock"
                />
                <span>25 отчетов</span>
              </li>
              <li class="flex items-center gap-[4px]">
                <img
                  class="w-[14px] md:w-[20px] h-auto"
                  src="/clock.svg"
                  width="20"
                  height="20"
                  alt="clock"
                />
                <span>6 дней</span>
              </li>
            </ul>
            <a
              class="inline-block mt-[12px] text-[12px] leading-[14px] md:text-[18px] md:leading-[20px] text-center w-full bg-[#03E4E1]/25 text-[#03E4E1] p-[8px] rounded-[4px] md:rounded-[8px] md:mt-[36px]"
              href="/program"
              >Подробнее</a
            >
          </article>
          <article
            class="p-[24px] flex flex-col md:rounded-[16px] rounded-[8px] shadow-[0px_-1px_13.7px_0px_rgba(3,228,225,0.25)] md:shadow-[0px_4px_13.7px_0px_rgba(3,228,225,0.25)] transition-colors ease-in-out duration-300 [@media(hover:hover)]:hover:bg-[#03E4E1]/25 active:bg-[#03E4E1]/25"
          >
            <h2
              class="font-bold text-[14px] leading-[16px] md:text-[24px] md:leading-[26px] uppercase text-[#03E4E1]"
            >
              Qazcloud
            </h2>
            <ul
              class="mt-[24px] md:mt-[36px] flex items-center gap-[12px] flex-wrap md:gap-x-[24px] text-[10px] leading-[12px] md:text-[18px] md:leading-[20px]"
            >
              <li class="flex items-center gap-[4px]">
                <img
                  class="w-[14px] md:w-[20px] h-auto"
                  src="/money.svg"
                  width="20"
                  height="20"
                  alt="clock"
                />
                <span>150 000 ₸</span>
              </li>
              <li class="flex items-center gap-[4px]">
                <img
                  class="w-[14px] md:w-[20px] h-auto"
                  src="/doc-success.svg"
                  width="20"
                  height="20"
                  alt="clock"
                />
                <span>25 отчетов</span>
              </li>
              <li class="flex items-center gap-[4px]">
                <img
                  class="w-[14px] md:w-[20px] h-auto"
                  src="/clock.svg"
                  width="20"
                  height="20"
                  alt="clock"
                />
                <span>6 дней</span>
              </li>
            </ul>
            <a
              class="inline-block mt-[12px] text-[12px] leading-[14px] md:text-[18px] md:leading-[20px] text-center w-full bg-[#03E4E1]/25 text-[#03E4E1] p-[8px] rounded-[4px] md:rounded-[8px] md:mt-[36px]"
              href="/program"
              >Подробнее</a
            >
          </article>
          <article
            class="p-[24px] flex flex-col md:rounded-[16px] rounded-[8px] shadow-[0px_-1px_13.7px_0px_rgba(3,228,225,0.25)] md:shadow-[0px_4px_13.7px_0px_rgba(3,228,225,0.25)] transition-colors ease-in-out duration-300 [@media(hover:hover)]:hover:bg-[#03E4E1]/25 active:bg-[#03E4E1]/25"
          >
            <h2
              class="font-bold text-[14px] leading-[16px] md:text-[24px] md:leading-[26px] uppercase text-[#03E4E1]"
            >
              Qazcloud
            </h2>
            <ul
              class="mt-[24px] md:mt-[36px] flex items-center gap-[12px] flex-wrap md:gap-x-[24px] text-[10px] leading-[12px] md:text-[18px] md:leading-[20px]"
            >
              <li class="flex items-center gap-[4px]">
                <img
                  class="w-[14px] md:w-[20px] h-auto"
                  src="/money.svg"
                  width="20"
                  height="20"
                  alt="clock"
                />
                <span>150 000 ₸</span>
              </li>
              <li class="flex items-center gap-[4px]">
                <img
                  class="w-[14px] md:w-[20px] h-auto"
                  src="/doc-success.svg"
                  width="20"
                  height="20"
                  alt="clock"
                />
                <span>25 отчетов</span>
              </li>
              <li class="flex items-center gap-[4px]">
                <img
                  class="w-[14px] md:w-[20px] h-auto"
                  src="/clock.svg"
                  width="20"
                  height="20"
                  alt="clock"
                />
                <span>6 дней</span>
              </li>
            </ul>
            <a
              class="inline-block mt-[12px] text-[12px] leading-[14px] md:text-[18px] md:leading-[20px] text-center w-full bg-[#03E4E1]/25 text-[#03E4E1] p-[8px] rounded-[4px] md:rounded-[8px] md:mt-[36px]"
              href="/program"
              >Подробнее</a
            >
          </article>
        </div>
      </header>
    </div>
  </div>
</section>
{% endblock %}
