{% extends "./src/html/layouts/layout.html" %} {% block content %}
<section>
  <div class="container">
    <div class="pt-[48px]">
      <header>
        <a
          class="md:text-[24px] md:leading-[26px] text-[12px] leading-[14px] flex items-center gap-x-[10px] text-[#03E4E1] [@media(hover:hover)]:hover:opacity-60 active:opacity-60 transition-opacity ease-in-out duration-300"
          href="/programs"
        >
          <svg
            class="w-[12px] md:w-[24px] h-auto"
            width="24"
            height="25"
            viewBox="0 0 24 25"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M21.6423 11.8772H5.96999L15.3503 3.73438C15.5003 3.60313 15.4093 3.35938 15.2111 3.35938H12.8405C12.7361 3.35938 12.6369 3.39687 12.5593 3.46384L2.43695 12.2469C2.34424 12.3272 2.26989 12.4266 2.21893 12.5382C2.16797 12.6498 2.1416 12.7711 2.1416 12.8938C2.1416 13.0164 2.16797 13.1377 2.21893 13.2493C2.26989 13.3609 2.34424 13.4603 2.43695 13.5406L12.6182 22.3772C12.6584 22.4121 12.7066 22.4308 12.7575 22.4308H15.2084C15.4066 22.4308 15.4977 22.1844 15.3477 22.0558L5.96999 13.9129H21.6423C21.7602 13.9129 21.8566 13.8165 21.8566 13.6987V12.0915C21.8566 11.9737 21.7602 11.8772 21.6423 11.8772Z"
              fill="currentColor"
            />
          </svg>
          <span>Назад</span>
        </a>
        <div class="flex items-center justify-between mt-[12px]">
          <h1
            class="text-[16px] md:text-[36px] uppercase leading-[18px] md:leading-[51px] font-black"
          >
            Program от qazcloud
          </h1>
        </div>
        <p
          class="text-[12px] leading-[14px] md:text-[24px] md:leading-[26px] mt-[12px]"
        >
          Описание
        </p>
        <div class="flex flex-col gap-y-[12px] mt-[12px] lg:hidden">
          <a
            class="flex items-center justify-center gap-x-[10px] text-white transition-opacity ease-in-out text-[12px] leading-[14px] duration-300 p-[8px] md:p-[12px] md:rounded-[8px] rounded-[4px] bg-[#03E4E1] md:text-[24px] md:leading-[26px] text-center active:opacity-60 [@media(hover:hover)]:hover:opacity-60"
            href="/add-report"
          >
            <svg
              class="md:w-[24px] h-auto w-[16px]"
              width="24"
              height="25"
              viewBox="0 0 24 25"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M12.8034 3.09766H11.1962C11.0534 3.09766 10.9819 3.16908 10.9819 3.31194V11.7227H3.00042C2.85756 11.7227 2.78613 11.7941 2.78613 11.9369V13.5441C2.78613 13.6869 2.85756 13.7584 3.00042 13.7584H10.9819V22.1691C10.9819 22.3119 11.0534 22.3834 11.1962 22.3834H12.8034C12.9462 22.3834 13.0176 22.3119 13.0176 22.1691V13.7584H21.0004C21.1433 13.7584 21.2147 13.6869 21.2147 13.5441V11.9369C21.2147 11.7941 21.1433 11.7227 21.0004 11.7227H13.0176V3.31194C13.0176 3.16908 12.9462 3.09766 12.8034 3.09766Z"
                fill="white"
              />
            </svg>
            <span>Добавить программу</span></a
          >
        </div>
        <div
          class="mt-[12px] md:mt-[36px] grid md:grid-cols-2 grid-cols-1 lg:grid-cols-3 gap-[12px]"
        >
          <article
            class="p-[12px] bg-[#25293F] md:rounded-[8px] rounded-[4px] flex flex-col gap-y-[12px] md:text-[28px] md:leading-[30px] text-[14px] leading-[16px] md:font-bold"
          >
            <img
              class="md:w-[36px] w-[24px] h-auto"
              src="/doc.svg"
              width="36"
              height="36"
              alt="doc"
            />
            <p>Всего отчетов</p>
            <p class="text-[#03E4E1]">10</p>
          </article>
          <article
            class="p-[12px] bg-[#25293F] md:rounded-[8px] rounded-[4px] flex flex-col gap-y-[12px] md:text-[28px] md:leading-[30px] text-[14px] leading-[16px] md:font-bold"
          >
            <img
              class="md:w-[36px] w-[24px] h-auto"
              src="/doc-success.svg"
              width="36"
              height="36"
              alt="doc"
            />
            <p>Принятые отчеты</p>
            <p class="text-[#03E4E1]">10</p>
          </article>
          <article
            class="p-[12px] bg-[#25293F] md:rounded-[8px] rounded-[4px] flex flex-col gap-y-[12px] md:text-[28px] md:leading-[30px] text-[14px] leading-[16px] md:font-bold"
          >
            <img
              class="md:w-[36px] w-[24px] h-auto"
              src="/money.svg"
              width="36"
              height="36"
              alt="doc"
            />
            <p>Общая сумма выплат</p>
            <p class="text-[#03E4E1]">500 000 ₸</p>
          </article>
        </div>
      </header>
    </div>
  </div>
</section>
<section class="mt-[24px] md:mt-[64px]">
  <div class="container">
    <div>
      <div class="flex items-center justify-between">
        <h1
          class="text-[16px] md:text-[36px] uppercase leading-[18px] md:leading-[51px] font-black"
        >
          Программы компаний
        </h1>
        <a
          class="hidden lg:flex items-center justify-center gap-x-[10px] text-white transition-opacity ease-in-out text-[12px] leading-[14px] duration-300 p-[8px] md:p-[12px] md:rounded-[8px] rounded-[4px] bg-[#03E4E1] md:text-[24px] md:leading-[26px] text-center active:opacity-60 [@media(hover:hover)]:hover:opacity-60"
          href="/add-report"
        >
          <svg
            class="md:w-[24px] h-auto w-[16px]"
            width="24"
            height="25"
            viewBox="0 0 24 25"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M12.8034 3.09766H11.1962C11.0534 3.09766 10.9819 3.16908 10.9819 3.31194V11.7227H3.00042C2.85756 11.7227 2.78613 11.7941 2.78613 11.9369V13.5441C2.78613 13.6869 2.85756 13.7584 3.00042 13.7584H10.9819V22.1691C10.9819 22.3119 11.0534 22.3834 11.1962 22.3834H12.8034C12.9462 22.3834 13.0176 22.3119 13.0176 22.1691V13.7584H21.0004C21.1433 13.7584 21.2147 13.6869 21.2147 13.5441V11.9369C21.2147 11.7941 21.1433 11.7227 21.0004 11.7227H13.0176V3.31194C13.0176 3.16908 12.9462 3.09766 12.8034 3.09766Z"
              fill="white"
            />
          </svg>
          <span>Добавить программу</span></a
        >
      </div>
      <div class="md:mt-[24px] mt-[12px]">
        <div>
          <div>
            <!-- DESKTOP TABLE START -->
            <div class="overflow-x-auto lg:block hidden">
              <table class="w-full table-fixed border-collapse">
                <thead>
                  <tr
                    class="[&>th:first-child]:rounded-tl-[12px] [&>th:last-child]:rounded-tr-[12px]"
                  >
                    <th
                      class="text-start text-[16px] bg-[#DCDDDE] leading-[18px] font-normal py-[12px] px-[24px] text-[#16192B]"
                    >
                      Программа
                    </th>
                    <th
                      class="text-start text-[16px] bg-[#DCDDDE] leading-[18px] font-normal py-[12px] px-[24px] text-[#16192B]"
                    >
                      Максимальная награда
                    </th>
                    <th
                      class="text-start text-[16px] bg-[#DCDDDE] leading-[18px] font-normal py-[12px] px-[24px] text-[#16192B]"
                    >
                      Статус
                    </th>
                    <th
                      class="text-start text-[16px] bg-[#DCDDDE] leading-[18px] font-normal py-[12px] px-[24px] text-[#16192B]"
                    ></th>
                  </tr>
                </thead>
                <tbody class="table-body-hover">
                  <tr>
                    <td
                      class="text-[#DCDDDE] p-[24px] bg-[#25293F] text-[16px] leading-[18px] font-normal"
                    >
                      Program 1
                    </td>
                    <td
                      class="text-[#DCDDDE] p-[24px] bg-[#25293F] text-[16px] leading-[18px] font-normal"
                    >
                      Program 1
                    </td>
                    <td
                      class="text-[#DCDDDE] p-[24px] bg-[#25293F] text-[16px] leading-[18px] font-normal"
                    >
                      <span
                        class="text-[14px] rounded-[4px] leading-[16px] py-[4px] px-[10px] md:text-[16px] md:leading-[18px] inline-block md:py-[8px] md:px-[10px] md:rounded-[8px] bg-[#03E477]/45 text-[#05EB7D]"
                        >Активна</span
                      >
                      <!-- <span
                        class="text-[14px] rounded-[4px] leading-[16px] py-[4px] px-[10px] md:text-[16px] md:leading-[18px] inline-block md:py-[8px] md:px-[10px] md:rounded-[8px] bg-[#E44303]/45 text-[#E44303]"
                        >Не активна</span
                      > -->
                    </td>
                    <td
                      class="text-[#DCDDDE] p-[24px] bg-[#25293F] text-[16px] leading-[18px] font-normal"
                    >
                      <div class="flex justify-end">
                        <a
                          class="inline-block [@media(hover:hover)]:hover:opacity-60 active:opacity-60 transition-opacity ease-in-out duration-300 text-[#03E4E1]"
                          href="/#program-article"
                          >Подробнее</a
                        >
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td
                      class="text-[#DCDDDE] p-[24px] bg-[#25293F] text-[16px] leading-[18px] font-normal"
                    >
                      Program 1
                    </td>
                    <td
                      class="text-[#DCDDDE] p-[24px] bg-[#25293F] text-[16px] leading-[18px] font-normal"
                    >
                      Program 1
                    </td>
                    <td
                      class="text-[#DCDDDE] p-[24px] bg-[#25293F] text-[16px] leading-[18px] font-normal"
                    >
                      <!-- <span
                        class="text-[14px] rounded-[4px] leading-[16px] py-[4px] px-[10px] md:text-[16px] md:leading-[18px] inline-block md:py-[8px] md:px-[10px] md:rounded-[8px] bg-[#03E477]/45 text-[#05EB7D]"
                        >Активна</span
                      > -->
                      <span
                        class="text-[14px] rounded-[4px] leading-[16px] py-[4px] px-[10px] md:text-[16px] md:leading-[18px] inline-block md:py-[8px] md:px-[10px] md:rounded-[8px] bg-[#E44303]/45 text-[#E44303]"
                        >Не активна</span
                      >
                    </td>
                    <td
                      class="text-[#DCDDDE] p-[24px] bg-[#25293F] text-[16px] leading-[18px] font-normal"
                    >
                      <div class="flex justify-end">
                        <a
                          class="inline-block [@media(hover:hover)]:hover:opacity-60 active:opacity-60 transition-opacity ease-in-out duration-300 text-[#03E4E1]"
                          href="/#program-article"
                          >Подробнее</a
                        >
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- DESKTOP TABLE END -->

            <!-- MOBILE TABLE START -->
            <div class="flex flex-col gap-y-[12px] lg:hidden">
              <a class="bg-[#25293F] rounded-[8px]" href="/#article">
                <div class="py-[8px] px-[12px]">
                  <span
                    class="text-[14px] rounded-[4px] leading-[16px] py-[4px] px-[10px] md:text-[16px] md:leading-[18px] inline-block md:py-[8px] md:px-[10px] md:rounded-[8px] bg-[#03E477]/45 text-[#05EB7D]"
                    >Активна</span
                  >
                  <!-- <span
                  class="text-[14px] rounded-[4px] leading-[16px] py-[4px] px-[10px] md:text-[16px] md:leading-[18px] inline-block md:py-[8px] md:px-[10px] md:rounded-[8px] bg-[#E44303]/45 text-[#E44303]"
                  >Не активна</span
                > -->
                </div>
                <div class="border-t border-t-[#03E4E1] p-[12px]">
                  <div
                    class="mt-[8px] flex items-center gap-[8px] flex-wrap text-[12px] leading-[14px]"
                  >
                    <p>Program 1</p>
                  </div>
                  <p class="mt-[8px] text-[14px] leading-[16px] text-[#03E4E1]">
                    Максимальная награда: 5000$
                  </p>
                </div>
              </a>
              <a class="bg-[#25293F] rounded-[8px]" href="/#article">
                <div class="py-[8px] px-[12px]">
                  <!-- <span
                    class="text-[14px] rounded-[4px] leading-[16px] py-[4px] px-[10px] md:text-[16px] md:leading-[18px] inline-block md:py-[8px] md:px-[10px] md:rounded-[8px] bg-[#03E477]/45 text-[#05EB7D]"
                    >Активна</span
                  > -->
                  <span
                    class="text-[14px] rounded-[4px] leading-[16px] py-[4px] px-[10px] md:text-[16px] md:leading-[18px] inline-block md:py-[8px] md:px-[10px] md:rounded-[8px] bg-[#E44303]/45 text-[#E44303]"
                    >Не активна</span
                  >
                </div>
                <div class="border-t border-t-[#03E4E1] p-[12px]">
                  <div
                    class="mt-[8px] flex items-center gap-[8px] flex-wrap text-[12px] leading-[14px]"
                  >
                    <p>Program 1</p>
                  </div>
                  <p class="mt-[8px] text-[14px] leading-[16px] text-[#03E4E1]">
                    Максимальная награда: 5000$
                  </p>
                </div>
              </a>
            </div>
            <!-- MOBILE TABLE END -->
          </div>
          <div
            class="flex items-center justify-center md:justify-end mt-[12px] md:mt-[24px]"
          >
            <div class="flex items-center gap-[12px] md:gap-[24px] flex-wrap">
              <button
                class="h-[30px] min-w-[30px] flex items-center justify-center text-[#03E4E1] transition-colors ease-in-out duration-300 [@media(hover:hover)]:hover:bg-[#03E4E1]/25 [@media(hover:hover)]:hover:text-white cursor-pointer rounded-[4px] active:bg-[#03E4E1] active:text-white aria-[selected=true]:bg-[#03E4E1] aria-[selected=true]:text-white text-[12px] leading-none md:text-[24px]"
                type="button"
              >
                <svg
                  width="20"
                  height="21"
                  viewBox="0 0 20 21"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M14.7327 4.18172V2.45628C14.7327 2.30672 14.5608 2.22413 14.4447 2.31565L4.38224 10.175C4.29674 10.2415 4.22756 10.3267 4.17998 10.4239C4.13239 10.5212 4.10765 10.6281 4.10765 10.7364C4.10765 10.8447 4.13239 10.9516 4.17998 11.0489C4.22756 11.1462 4.29674 11.2313 4.38224 11.2978L14.4447 19.1572C14.563 19.2487 14.7327 19.1661 14.7327 19.0165V17.2911C14.7327 17.1817 14.6813 17.0768 14.5965 17.0098L6.56081 10.7375L14.5965 4.46297C14.6813 4.39601 14.7327 4.2911 14.7327 4.18172Z"
                    fill="currentColor"
                  />
                </svg>
              </button>
              <button
                class="h-[30px] min-w-[30px] flex items-center justify-center text-[#03E4E1] transition-colors ease-in-out duration-300 [@media(hover:hover)]:hover:bg-[#03E4E1]/25 [@media(hover:hover)]:hover:text-white cursor-pointer rounded-[4px] active:bg-[#03E4E1] active:text-white aria-[selected=true]:bg-[#03E4E1] aria-[selected=true]:text-white text-[12px] leading-none md:text-[24px]"
                type="button"
                aria-selected="true"
              >
                1
              </button>
              <button
                class="h-[30px] min-w-[30px] flex items-center justify-center text-[#03E4E1] transition-colors ease-in-out duration-300 [@media(hover:hover)]:hover:bg-[#03E4E1]/25 [@media(hover:hover)]:hover:text-white cursor-pointer rounded-[4px] active:bg-[#03E4E1] active:text-white aria-[selected=true]:bg-[#03E4E1] aria-[selected=true]:text-white text-[12px] leading-none md:text-[24px]"
                type="button"
              >
                2
              </button>
              <button
                class="h-[30px] min-w-[30px] flex items-center justify-center text-[#03E4E1] transition-colors ease-in-out duration-300 [@media(hover:hover)]:hover:bg-[#03E4E1]/25 [@media(hover:hover)]:hover:text-white cursor-pointer rounded-[4px] active:bg-[#03E4E1] active:text-white aria-[selected=true]:bg-[#03E4E1] aria-[selected=true]:text-white text-[12px] leading-none md:text-[24px]"
                type="button"
              >
                3
              </button>
              <button
                class="h-[30px] min-w-[30px] flex items-center justify-center text-[#03E4E1] transition-colors ease-in-out duration-300 [@media(hover:hover)]:hover:bg-[#03E4E1]/25 [@media(hover:hover)]:hover:text-white cursor-pointer rounded-[4px] active:bg-[#03E4E1] active:text-white aria-[selected=true]:bg-[#03E4E1] aria-[selected=true]:text-white text-[12px] leading-none md:text-[24px]"
                type="button"
              >
                4
              </button>
              <button
                class="h-[30px] min-w-[30px] flex items-center justify-center text-[#03E4E1] transition-colors ease-in-out duration-300 [@media(hover:hover)]:hover:bg-[#03E4E1]/25 [@media(hover:hover)]:hover:text-white cursor-pointer rounded-[4px] active:bg-[#03E4E1] active:text-white aria-[selected=true]:bg-[#03E4E1] aria-[selected=true]:text-white text-[12px] leading-none md:text-[24px]"
                type="button"
              >
                5
              </button>
              <button
                class="h-[30px] min-w-[30px] flex items-center justify-center text-[#03E4E1] transition-colors ease-in-out duration-300 [@media(hover:hover)]:hover:bg-[#03E4E1]/25 [@media(hover:hover)]:hover:text-white cursor-pointer rounded-[4px] active:bg-[#03E4E1] active:text-white aria-[selected=true]:bg-[#03E4E1] aria-[selected=true]:text-white text-[12px] leading-none md:text-[24px]"
                type="button"
              >
                <svg
                  width="20"
                  height="21"
                  viewBox="0 0 20 21"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M5.26732 4.18172V2.45628C5.26732 2.30672 5.43919 2.22413 5.55526 2.31565L15.6178 10.175C15.7033 10.2415 15.7724 10.3267 15.82 10.4239C15.8676 10.5212 15.8923 10.6281 15.8923 10.7364C15.8923 10.8447 15.8676 10.9516 15.82 11.0489C15.7724 11.1462 15.7033 11.2313 15.6178 11.2978L5.55526 19.1572C5.43696 19.2487 5.26732 19.1661 5.26732 19.0165V17.2911C5.26732 17.1817 5.31866 17.0768 5.40348 17.0098L13.4392 10.7375L5.40348 4.46297C5.31866 4.39601 5.26732 4.2911 5.26732 4.18172V4.18172Z"
                    fill="currentColor"
                  />
                </svg>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
