{% extends "./src/html/layouts/layout-login.html" %} {% block content %}

<form class="max-w-[486px] w-full" method="post">
  <img
    class="md:w-[244px] h-auto w-[180px]"
    src="/logo-white-full.svg"
    width="244"
    height="62"
    alt="CYBER ONE"
  />
  <h2
    class="mt-[24px] md:mt-[61px] text-[16px] md:text-[32px] leading-[18px] md:leading-[45px] font-black uppercase"
  >
    Письмо отправлено, проверьте почту
  </h2>
  <div class="mt-[12px] md:mt-[24px] flex flex-col">
    <a
      class="text-[12px] leading-[14px] md:text-[24px] md:leading-[26px] w-full mt-[24px] md:mt-[32px] text-center bg-[#03E4E1] text-white p-[8px] md:p-[12px] rounded-[4px] md:rounded-[8px] cursor-pointer [@media(hover:hover)]:hover:opacity-60 active:opacity-60 transition-opacity ease-in-out duration-300"
      href="/sign-in"
    >
      Войти
    </a>
  </div>
</form>
{% endblock %}
