{% extends "./src/html/layouts/layout-login.html" %} {% block content %}

<form class="max-w-[486px]" method="post">
  <img
    class="md:w-[244px] h-auto w-[180px]"
    src="/logo-white-full.svg"
    width="244"
    height="62"
    alt="CYBER ONE"
  />
  <h2
    class="mt-[24px] md:mt-[61px] text-[16px] md:text-[32px] leading-[18px] md:leading-[45px] font-black uppercase"
  >
    Добро пожаловать!
  </h2>
  <p
    class="mt-[8px] text-[14px] leading-[16px] md:text-[18px] md:leading-[20px]"
  >
    Присоединяйся к сообществу белых хакеров!
  </p>
  <div
    class="grid text-center md:mt-[24px] mt-[12px] grid-cols-2 items-center overflow-hidden border border-[#03E4E1] rounded-[8px]"
  >
    <a
      class="text-[10px] leading-[12px] md:text-[18px] md:leading-[20px] inline-block py-[8px] px-[16px] md:px-[12px] md:py-[10px] text-[#03E4E1] [@media(hover:hover)]:hover:bg-[#03E4E1]/25 transition-colors ease-in-out duration-300 active:bg-[#03E4E1]/25 aria-[selected=true]:bg-[#03E4E1]/25"
      href="/sign-up-user"
      >Пользователь</a
    >
    <a
      class="text-[10px] leading-[12px] border-l border-l-[#03E4E1] md:text-[18px] md:leading-[20px] inline-block py-[8px] px-[16px] md:px-[12px] md:py-[10px] text-[#03E4E1] [@media(hover:hover)]:hover:bg-[#03E4E1]/25 transition-colors ease-in-out duration-300 active:bg-[#03E4E1]/25 aria-[selected=true]:bg-[#03E4E1]/25"
      href="/sign-up-company"
      aria-selected="true"
      >Компания</a
    >
  </div>
  <div class="mt-[12px] md:mt-[24px] flex flex-col">
    <div>
      <div>
        <input
          class="text-[12px] leading-[14px] placeholder:text-[12px] placeholder:leading-[14px] inline-block rounded-[8px] text-[#DCDDDE] border border-[#DCDDDE] md:text-[20px] font-normal md:leading-[22px] w-full px-[24px] py-[12px] placeholder:text-[#777A87] bg-transparent placeholder:md:text-[20px] placeholder:md:leading-[22px] data-[is-error=true]:border-[#DA4848] transition-colors ease-in-out duration-300"
          type="text"
          name="Название организации"
          required
          placeholder="Название организации"
          data-is-error="false"
        />
      </div>
      <p class="text-[#DA4848] text-[12px] leading-[14px] mt-[8px]">
        Обязательное поле
      </p>
    </div>
    <div class="mt-[12px] md:mt-[24px]">
      <div>
        <input
          class="text-[12px] leading-[14px] placeholder:text-[12px] placeholder:leading-[14px] inline-block rounded-[8px] text-[#DCDDDE] border border-[#DCDDDE] md:text-[20px] font-normal md:leading-[22px] w-full px-[24px] py-[12px] placeholder:text-[#777A87] bg-transparent placeholder:md:text-[20px] placeholder:md:leading-[22px] data-[is-error=true]:border-[#DA4848] transition-colors ease-in-out duration-300"
          type="text"
          name="ФИО сотрудника"
          required
          placeholder="ФИО сотрудника"
          data-is-error="false"
        />
      </div>
      <p class="text-[#DA4848] text-[12px] leading-[14px] mt-[8px]">
        Обязательное поле
      </p>
    </div>
    <div class="mt-[12px] md:mt-[24px]">
      <div>
        <input
          class="text-[12px] leading-[14px] placeholder:text-[12px] placeholder:leading-[14px] inline-block rounded-[8px] text-[#DCDDDE] border border-[#DCDDDE] md:text-[20px] font-normal md:leading-[22px] w-full px-[24px] py-[12px] placeholder:text-[#777A87] bg-transparent placeholder:md:text-[20px] placeholder:md:leading-[22px] data-[is-error=true]:border-[#DA4848] transition-colors ease-in-out duration-300"
          type="text"
          name="Должность"
          required
          placeholder="Должность"
          data-is-error="false"
        />
      </div>
      <p class="text-[#DA4848] text-[12px] leading-[14px] mt-[8px]">
        Обязательное поле
      </p>
    </div>
    <div class="mt-[12px] md:mt-[24px]">
      <div>
        <input
          class="text-[12px] leading-[14px] placeholder:text-[12px] placeholder:leading-[14px] inline-block rounded-[8px] text-[#DCDDDE] border border-[#DCDDDE] md:text-[20px] font-normal md:leading-[22px] w-full px-[24px] py-[12px] placeholder:text-[#777A87] bg-transparent placeholder:md:text-[20px] placeholder:md:leading-[22px] data-[is-error=true]:border-[#DA4848] transition-colors ease-in-out duration-300"
          type="tel"
          inputmode="tel"
          name="Номер телефона"
          required
          placeholder="Номер телефона"
          data-is-error="false"
        />
      </div>
      <p class="text-[#DA4848] text-[12px] leading-[14px] mt-[8px]">
        Обязательное поле
      </p>
    </div>
    <div class="mt-[12px] md:mt-[24px]">
      <div>
        <input
          class="text-[12px] leading-[14px] placeholder:text-[12px] placeholder:leading-[14px] inline-block rounded-[8px] text-[#DCDDDE] border border-[#DCDDDE] md:text-[20px] font-normal md:leading-[22px] w-full px-[24px] py-[12px] placeholder:text-[#777A87] bg-transparent placeholder:md:text-[20px] placeholder:md:leading-[22px] data-[is-error=true]:border-[#DA4848] transition-colors ease-in-out duration-300"
          type="email"
          inputmode="email"
          name="Email"
          required
          placeholder="Email"
          data-is-error="false"
        />
      </div>
      <p class="text-[#DA4848] text-[12px] leading-[14px] mt-[8px]">
        Обязательное поле
      </p>
    </div>
    <button
      class="text-[12px] leading-[14px] md:text-[24px] md:leading-[26px] w-full mt-[24px] md:mt-[32px] text-center bg-[#03E4E1] text-white p-[8px] md:p-[12px] rounded-[4px] md:rounded-[8px] cursor-pointer [@media(hover:hover)]:hover:opacity-60 active:opacity-60 transition-opacity ease-in-out duration-300"
      type="submit"
    >
      Зарегистрироваться
    </button>
    <p
      class="text-[12px] leading-[14px] md:text-[22px] md:leading-[24px] mt-[8px] md:mt-[12px]"
    >
      <span>Есть аккаунт?</span>
      <a
        class="inline-block text-[#03E4E1] [@media(hover:hover)]:hover:opacity-60 transition-opacity ease-in-out duration-300 active:opacity-60"
        href="/sign-in"
        >Оставить заявку</a
      >
    </p>
    <p
      class="text-[10px] leading-[12px] md:text-[18px] md:leading-[20px] mt-[12px] md:mt-[24px]"
    >
      <span
        >Продолжая, вы подтверждаете, что прочитали, поняли и согласились
        с</span
      >
      <a
        class="text-[#03E4E1] [@media(hover:hover)]:hover:opacity-60 transition-opacity ease-in-out duration-300 active:opacity-60"
        href="#"
        >Условиями использования</a
      >
      и
      <a
        class="text-[#03E4E1] [@media(hover:hover)]:hover:opacity-60 transition-opacity ease-in-out duration-300 active:opacity-60"
        href="#"
        >Политикой конфиденциальности</a
      >
    </p>
  </div>
</form>
{% endblock %}
