<footer class="border-t-[2px] border-t-[#B2B4C2]/15 mt-[22px] md:mt-[168px]">
  <div class="container">
    <div
      class="md:grid flex flex-col gap-y-[12px] py-[12px] md:py-[24px] grid-cols-[max-content_1fr_max-content] items-center"
    >
      <a class="md:order-1 order-2" href="/" aria-label="Home" title="Home">
        <img
          class="inline-block w-[24px] md:w-[42px] h-auto"
          src="/logo-white.svg"
          width="42"
          height="48"
          alt="CYBER ONE"
        />
      </a>
      <div class="flex items-center justify-center order-1 md:order-2">
        <a
          class="inline-block text-[10px] leading-[11px] md:text-[20px] md:leading-[22px] font-normal uppercase underline [@media(hover:hover)]:hover:text-[#03E4E1] active:text-[#03E4E1] transition-colors ease-in-out duration-300"
          href="/privacy-policy"
          >Политика конфиденциальности</a
        >
      </div>
    </div>
  </div>
</footer>
