@import "tailwindcss";

@font-face {
  font-family: "MagistralC";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/magistralc/MagistralC.woff") format("woff");
}

@font-face {
  font-family: "MagistralC";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/magistralc/MagistralC-Bold.woff") format("woff");
}

@font-face {
  font-family: "Arial";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/arial/ARIAL.woff") format("woff");
}

@font-face {
  font-family: "Arial";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/arial/ARIALBD.woff") format("woff");
}

@font-face {
  font-family: "Arial";
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url("/fonts/arial/ARIALI.woff") format("woff");
}

@font-face {
  font-family: "Arial";
  font-weight: 700;
  font-style: italic;
  font-display: swap;
  src: url("/fonts/arial/ARIALBI.woff") format("woff");
}

@font-face {
  font-family: "Arial Narrow";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/arial/ARIALN.woff") format("woff");
}

@font-face {
  font-family: "Arial Narrow";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/arial/ARIALNB.woff") format("woff");
}

@font-face {
  font-family: "Arial Narrow";
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url("/fonts/arial/ARIALNI.woff") format("woff");
}

@font-face {
  font-family: "Arial Narrow";
  font-weight: 700;
  font-style: italic;
  font-display: swap;
  src: url("/fonts/arial/ARIALNBI.woff") format("woff");
}

@font-face {
  font-family: "Arial";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/arial/ArialMdm.woff") format("woff");
}

@font-face {
  font-family: "Arial";
  font-weight: 500;
  font-style: italic;
  font-display: swap;
  src: url("/fonts/arial/ArialMdmItl.woff") format("woff");
}

@font-face {
  font-family: "Arial Black";
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/arial/ARIBLK.woff") format("woff");
}

@font-face {
  font-family: "Arial Black";
  font-weight: 900;
  font-style: italic;
  font-display: swap;
  src: url("/fonts/arial/ARIALBLACKITALIC.woff") format("woff");
}

@font-face {
  font-family: "Arial";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/arial/ARIALLGT.woff") format("woff");
}

@font-face {
  font-family: "Arial";
  font-weight: 300;
  font-style: italic;
  font-display: swap;
  src: url("/fonts/arial/ARIALLGTITL.woff") format("woff");
}

@font-face {
  font-family: "Arial CE";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/arial/ArialCE.woff") format("woff");
}

@font-face {
  font-family: "Arial CE";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/arial/arialceb.woff") format("woff");
}

@font-face {
  font-family: "Arial CE";
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url("/fonts/arial/ArialCEItalic.woff") format("woff");
}

@font-face {
  font-family: "Arial CE";
  font-weight: 700;
  font-style: italic;
  font-display: swap;
  src: url("/fonts/arial/ArialCEBoldItalic.woff") format("woff");
}

@font-face {
  font-family: "Arial CE MT Black";
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/arial/ArialCEMTBlack.woff") format("woff");
}

@utility container {
  @apply mx-auto px-[16px];
}

@theme {
  --font-arial: "Arial", sans-serif;
  --font-magistralc: "MagistralC", sans-serif;
}

.marquee {
  position: relative;
  overflow: hidden;
  width: 100%;
  background: #16192b;
}

.marquee-content {
  will-change: transform;
  display: flex;
  flex-wrap: nowrap;
  animation: marquee 10s linear infinite;
}

.marquee-items {
  @apply flex flex-nowrap gap-x-[12px] md:gap-x-[72px];
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.markdown-content {
  @apply text-[14px] leading-[16px] md:text-[20px] md:leading-[22px];
}

.markdown-content h1,
.markdown-content h2,
.markdown-content h3,
.markdown-content h4,
.markdown-content h5,
.markdown-content h6 {
  @apply my-[12px] text-[14px] leading-[16px] font-bold md:my-[24px] md:text-[28px] md:leading-[32px];
}

.markdown-content span,
.markdown-content p {
  @apply my-[8px] md:my-[16px];
}

.markdown-content a {
  @apply transition-colors duration-300 ease-in-out active:text-[#03E4E1] [@media(hover:hover)]:hover:text-[#03E4E1];
}

.table-body-hover tr td {
  @apply transition-colors duration-300 ease-in-out;
}

.table-body-hover tr:hover td {
  @apply bg-[#03E4E1]/25;
}

.toastui-editor-contents,
.toastui-editor-contents * {
  color: #000 !important;
}

.toastui-editor,
.toastui-editor * {
  color: #000 !important;
}

.toastui-editor-md-tab-container .tab-item {
  @apply !mt-[11px];
}

.toastui-editor-defaultUI {
  color: #000 !important;
  background-color: #fff !important;
}
